* {
  box-sizing: border-box;
}

body {
  background: #2554FF ;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
}

body,
html,
.App,
.vue-tempalte,
.vertical-center {
  width: 100%;
  height: 104%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.vertical-center {
  display: flex;
  text-align: left;
  justify-content: center;
  flex-direction: column;    
}

.inner-block {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.vertical-center .form-control:focus {
  border-color: #2554FF;
  box-shadow: none;
}

.vertical-center h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

label {
  font-weight: 500;
}

legend{
  font-weight: 500;
  font-size: 16px;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7a7a7a;
  margin: 0;
}
.forgot-password a {
  color: #2554FF;
}
.social-icons {
  text-align: center;
}
.fa {
  padding: 10px;
  font-size: 20px;
  width: 60px;
  margin: 5px 3px;
}
.fa:hover {
  opacity: 0.7;
  color: #ffffff;
  text-decoration: none;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  margin-left: 20px;
}
.fa-google {
  background: #dd4b39;
  color: white;
  margin-left: 30px;
}